/* Style Default */
body {
    font-family: 'Slabo 27px', serif;
    background-image: url("img/sample-pattern.png");
    margin: 0;
    min-height: 100%;
    position: relative;
    padding: 0px;
  }
    
  h1{
    padding-bottom: 10px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  header {
    background-image: url("img/Jakarta_banner.jpg");
    /* height: 60px; */
    overflow: hidden; /*agar nempel ke atas*/    
    top: 0 px;
  }
  
  header #logo {
    max-width: 100%;
    height: auto;
    float: left;  
  } 
    
  section {
    max-width: 650px;    
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 60px
  }
  
  footer {
    background-image: url("img/Jakarta_banner.jpg");
    color: white;
    text-align: center;
    height: 60px;
    position: absolute;
    
    bottom: 0;
    width: 100%;
  }
  
  section a {
    text-decoration: none;
    color: black;
  }
  
  section div {
    background-color: white;
    padding-top: 5px;
  }
  
  section h3 {  
    
    padding-top: 0px;
    text-align: center;
  }
  
  section p {
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 0.1em;
    line-height: 1.6;
    font-size: 14px;
  }
  
  section article {
    border-bottom: 5px solid rgba(0, 0, 0, .1);
  }

  .navbar {
    overflow: hidden;
    /* background-color: #333; */
    /* font-family: Arial, Helvetica, sans-serif; */
    right: 0px;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: url("img/Jakarta_banner.jpg");
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
    float: none;
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid burlywood;
    border-radius: 4px;
    padding: 5px;
    
}

